.App {

  margin-top: 90px;
  text-align: center;
  margin: 20px;
  font-size: 16px;
}


.App-link {
  color: #61dafb;
}

#sectionContent {
  width: 90%;
  position: absolute;
  justify-content: center;
  align-items: center;

}
#dialogPlaceholder {
    position: absolute;
    background-color: rgb(131, 131, 131, 0.9);
    width: 90%;
    height: 300px;
    opacity: 1;

}
.modal {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: -webkit-center;
  width: 250px;
  background-color: white;
  height: 30%;

}

